body {
  background-image: url('./yummy.jpg');
  object-fit: cover;
  color: white;
  background-size: cover;
}
.App {
  text-align: center;
}


  

.food img {
  width: 300px;
  height: 33vh;

 
}

.instructions {
  width: 200px;
  margin: 3px auto;
  background-color: black;
}

.instructions-list {
  background-color: black;
}

.set-order {
  background-color: black;
}

.diff-food {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.buttons {

  background-color: black;
  margin: 50px;
}